@import "~bootstrap/scss/bootstrap.scss";

.trafficStick {
    background-color: black;
    height: 8rem;
    width: 2rem;

};

.trafficBox {
    background-color: black;
    width: 12rem;
    height: 26rem;   
};

.redLight{
    margin-top: 3rem;
    margin-left: 3.7rem;
    border: 1px solid white;
    background-color: red;
    width: 80px;
    height: 80px;
}

.yellowLight{
    margin-top: 3rem;
    margin-left: 3.7rem;
    border: 1px solid white;
    background-color: yellow;
    width: 80px;
    height: 80px;
}

.greenLight{
    margin-top: 3rem;
    margin-left: 3.7rem;
    border: 1px solid white;
    background-color: green;
    width: 80px;
    height: 80px;
}

.light{
    box-shadow: 0 0 50px lighten($yellow,50);
    border-radius: 100%;
    transition: all .6s;
}